.hero-background {
  width: 100vw;       /* full viewport width */
  height: 100vh;      /* full viewport height */
  background-image: url('../assets/baltimoreskyline.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 18, 68, 0.399); /* black tint at 40% opacity */
  z-index: 1;
}


.textbox {
  font-family: "IBM Plex Serif", serif;
  position: absolute;
  z-index: 2;
  color: rgba(255, 255, 255, 0.87);
  text-align: left;   /* <-- ensures text starts from left edge of box */
  

}

.textbox-1 {
  font-size: 40px;
  top: 20%;
  left: 9.5%;
  font-weight: 400;
}

.textbox-2 {
  top: 30.5%;
  left: 10%;
}