.project {
  position: relative;
  background-color: #ffffff;
  padding: 2rem 0rem 0rem 0rem; /* smaller gap */
  font-family: "IBM Plex Serif", serif;   
}

.project .title {
  font-size: 2rem;
  color: #032f70;
  font-weight: 500;
  margin: 2rem ;   /* resets default h2 margin */
}